# Object file
*.o

# Ada Library Information
*.ali
DSS_Decision_Support_System/\[2_2020\] - Stock price prediction and portfolio selection using artificial intelligence.pdf
DSS_Decision_Support_System/\[Priority 3\] - Utilization of artificial neural networks and the TD-learning method for constructing intelligent decision support systems.pdf
DSS_Decision_Support_System/\[Roll\] - Report on Article Study and Implementation - Copy.docx
DSS_Decision_Support_System/ADANIPORTS.csv
DSS_Decision_Support_System/ALL_Thesis_Data_Set.xlsx
DSS_Decision_Support_System/ASIANPAINT.csv
DSS_Decision_Support_System/Assignment12052023/MCE 07905536 Shyed Assign WEKA.docx
DSS_Decision_Support_System/Assignment12052023/Visual.arff
DSS_Decision_Support_System/Assignment12052023/WEKA_Data_Set - Copy.csv
DSS_Decision_Support_System/Assignment12052023/WEKA_Data_Set.arff
DSS_Decision_Support_System/Assignment12052023/WEKA_Data_Set.csv
DSS_Decision_Support_System/Assignment12052023/WEKA_Data_Set.xlsx
DSS_Decision_Support_System/Assignment12052023/WekaReport.docx
DSS_Decision_Support_System/Autism-Adolescent-Data.arff
DSS_Decision_Support_System/Autism-Adult-Data.arff
DSS_Decision_Support_System/Autism-Child-Data.arff
DSS_Decision_Support_System/B-Ch1_Preliminaries.pdf
DSS_Decision_Support_System/Biological Neuron to ANN.pdf
DSS_Decision_Support_System/Building DSS.docx
DSS_Decision_Support_System/CamScanner 06-10-2023 14.55.docx
DSS_Decision_Support_System/CamScanner 06-10-2023 14.55.pdf
DSS_Decision_Support_System/CamScanner-06-10-2023-14.55ocr.docx
DSS_Decision_Support_System/Capture.PNG
DSS_Decision_Support_System/Dr MAH Akhand - Research and Acheivement_230114(SUB).pdf
DSS_Decision_Support_System/DSS Intelligent DSS_230204 \[Lecture 4\].pdf
DSS_Decision_Support_System/DSS Lecture 1 - Aspect, Prospect and Motivation (230114).pdf
DSS_Decision_Support_System/DSS Overview, Structure, Building \[Lectures 2, 3 & 4\].pdf
DSS_Decision_Support_System/DSS_ClaslecCh1_2_3_4_Book1 (1).docx
DSS_Decision_Support_System/DSS_ClaslecCh1_2_3_4_Book1.docx
DSS_Decision_Support_System/DSS_ClaslecCh1_2_3_4_Book1.pdf
DSS_Decision_Support_System/DSS_ClaslecCh1_2_3_4_Book122.docx
DSS_Decision_Support_System/FinalAssignment/2020 - Stock Price Prediction and Portfolio Selection using AI.pdf
DSS_Decision_Support_System/FinalAssignment/2021 - A DSS for Fraud Detection in Public Procurement.pdf
DSS_Decision_Support_System/FinalAssignment/2021 - An Improved ANN Model for Effective Diabetes Prediction.pdf
DSS_Decision_Support_System/FinalAssignment/2022 - Big Data Analytics with OENN based Clinical DSS.pdf
DSS_Decision_Support_System/FinalAssignment/2022 - Money Laundering Detection using Machine Learning and Deep Learning.pdf
DSS_Decision_Support_System/FinalAssignment/2023 - Evaluating neural network models in site-specific solar PV forecasting ---.pdf
DSS_Decision_Support_System/FinalAssignment/\[Roll 08005544,46,47\] - Report on Article Study and Implementation.docx
DSS_Decision_Support_System/FinalAssignment/MCE 079 05536 - Report on Article Study and Implementation.docx
DSS_Decision_Support_System/FinalAssignment/MCE 079 05536_Shyed_DFWekaDataSet.arff
DSS_Decision_Support_System/FinalAssignment/PortfolioSelectioncsvarffShyedMCE07905536.arff
DSS_Decision_Support_System/FinalAssignment/PortfolioSelectionShyed.arff
DSS_Decision_Support_System/FinalWekaDataSet.csv
DSS_Decision_Support_System/FinalWekaDataSet.xlsx
DSS_Decision_Support_System/Image20230403213023.png
DSS_Decision_Support_System/MCE 079 05536 - Assigment 01.docx
DSS_Decision_Support_System/MCE 079 05536 Shyed Shahriar As2As4 Papers.rar
DSS_Decision_Support_System/MCE 079 05536 Shyed Shahriar As2As4 Papers/1_2021__Decision support system for stock portfolio selection using artificial intelligence and machine learning.pdf
DSS_Decision_Support_System/MCE 079 05536 Shyed Shahriar As2As4 Papers/2_2020__Stock price prediction and portfolio selection using artificial intelligence.pdf
DSS_Decision_Support_System/MCE 079 05536 Shyed Shahriar As2As4 Papers/3_2021__Framework design of decision support system Improving decision making in fishery supply chain for coastal communities.pdf
DSS_Decision_Support_System/MCE 079 05536 Shyed Shahriar As2As4 Papers/4_2021__Development of a decision support system framework for cultural heritage management.pdf
DSS_Decision_Support_System/MCE 079 05536 Shyed Shahriar As2As4 Papers/5_2022__Design of decision support system service in the Space Science Center using microservices approach.pdf
DSS_Decision_Support_System/MCE 079 05536 Shyed Shahriar As2As4 Papers/6_2021__Web based DSS Information System for Sustainable Fisheries Supply Chain in Coastal Communities of Small Islands Indonesia.pdf
DSS_Decision_Support_System/MCE 079 05536 Shyed Shahriar As2As4 Papers/7_2016__Configurable DSS for Uncertainty Management by Fuzzy Sets.pdf
DSS_Decision_Support_System/MCE 079 05536 Shyed Shahriar As2As4 Papers/MCE 079 05536 As4 Shyed Shahriar Housaini.docx
DSS_Decision_Support_System/MCE 079 05536 ShyedAssign11.docx
DSS_Decision_Support_System/MCE 079 05536-Ass1.docx
DSS_Decision_Support_System/MCE 079 05536_Shyed_DFWekaDataSet.csv
DSS_Decision_Support_System/MCE 079 05538 - 2022 - Big Data Analytics with OENN based Clinical DSS.pdf
DSS_Decision_Support_System/MCE 079 XXXXX.docx
DSS_Decision_Support_System/MCE 07905536 ShyedShahriarAssignmentWEKA.docx
DSS_Decision_Support_System/Midterm Examination Question.pdf
DSS_Decision_Support_System/MSCE 677 - Registered Students_230205.pdf
DSS_Decision_Support_System/Paragraph in Technical Article.pdf - Shortcut.lnk
DSS_Decision_Support_System/PortfolioSelection.csv
DSS_Decision_Support_System/PortfolioSelection.xlsx
DSS_Decision_Support_System/PortfolioSelectioncsvarff.csv
DSS_Decision_Support_System/S0377221722007202.txt
DSS_Decision_Support_System/WEKA_Data_Set.xlsx
DSS_Decision_Support_System/WEKA_Data_Set2222.xlsx
DSS_Decision_Support_System/~WRL0002.tmp
DSS_Decision_Support_System/~WRL0004.tmp
DSS_Decision_Support_System/~WRL0641.tmp
